<h1> <%= @hypo.title %> </h1>


<br>

    <% if current_user %>
         <%= form_for [@hypo, Vote.new] do |f| %>
          <%= f.label "#{@hypo.vote_count} votes" %> <br>
          <br>
          <%= f.submit "Like"%> <br>
          <br>
          <% end %>
    <% end %>


  <%= render partial: "detail" %>

  <%= link_to "Back to Hypos", root_url %><br><br><br>

  <h3>Comments</h3>
  <% if current_user %>
    <%= render partial: "comments/new" %>
  <% end %><br><br><br><br>


  <%= render partial: "comments/index", object: @hypo.comments %>

</div>
